@import '../_variables';

.main-title {
  display: flex;
  flex-direction: column;
  position: relative;

  &__title {
    font-size: 48px;
    padding-top: 110px;
  }

  &__subtitle {
    font-size: 36px;
    padding-bottom: 55px;

    &--absolute {
      position: absolute;
      bottom: 16%;
      right: 18%;
      font-size: 21px;
      padding-bottom: 0;

      & span {
        font-size: 48px;
      }
    }
  }

  &__title,
  &__subtitle {
    color: $black;
    white-space: nowrap;
    text-align: center;
    font-family: $font-sharp-bold;
    background-color: #f6f6f6;
  }

  &__img {
    width: calc(100% - 190px);
    height: 43vw;
    max-height: 575px;
    background-image: url("../assets/images/product.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }
}

@media screen and (max-width: 1200px) {
  .main-title {
    &__subtitle {
      &--absolute {
        right: 22vw;
        bottom: 8%;
      }
    }
  }
}

@media screen and (max-width: 720px) {

  .main-title {
    font-size: 42px;

    &__img {
      background-image: url("../assets/images/product-720.png");
      width: 100%;
      height: 67vw;
      max-height: 575px;
      background-position: 100% 100%;
    }

    &__subtitle {
      &--absolute {
        right: 7vw;
        bottom: 6%;
      }
    }
  }
}

@media screen and (max-width: 720px) {

  .main-title {
    .main-title {
      &__subtitle {
        &--absolute {
          font-size: 18px;

          & span {
            font-size: 41px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {

  .main-title__title {
    white-space: initial;
  }
}

@media screen and (max-width: 580px) {

  .main-title {
    .main-title {
      &__subtitle {
        white-space: initial;

        &--absolute {
          font-size: 16px;

          & span {
            font-size: 36px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {

  .main-title {
    .main-title {
      &__subtitle {
        &--absolute {
          right: 6vw;
          bottom: 5%;

          & span {
            font-size: 24px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {

  .main-title {
    .main-title {
      &__subtitle {
        &--absolute {
          right: 5vw;
          bottom: 4%;

          & span {
            font-size: 22px;
          }
        }
      }
    }
  }
}